<div class="container main-body">
    <div nz-col nzSm="17">
        <ul class="list-unstyled">
            <li *ngFor="let blog of blogs" class="blog-block">
                <h4>
                    <span class="blog-type">{{blog.blogTag}}</span>
                    <span class="blog-type-arrow"></span>&nbsp;
                    <span class="blog-title" [routerLink]="['/', blog.blogType, blog.id]">{{blog.title}}</span>
                </h4>
                <div class="blog-content">
                    <div nz-col nzSm="6">
                        <img src="{{blog.thumb}}">
                    </div>
                    <div nz-col nzSm="18" class="blog-content-thumb" [routerLink]="['/', blog.blogType, blog.id]">
                        <p>{{blog.thumbContent}}</p>
                    </div>
                </div>
                <div class="blog-info">
                    <div>更新于<span>{{blog.modifyTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>
                    <div>浏览量<span>{{blog.readCount}}</span></div>
                </div>
            </li>
        </ul>
    </div>
    <div nz-col nzSm="1"></div>
    <div nz-col nzSm="6" class="main-right">
        <ul class="list-unstyled">
            <li class="blog-block">
                <h5>博客标签</h5>
                <div>
                    <ul class="list-unstyled blog-tags-ul">
                        <li *ngFor="let item of infos.tags" routerLink="/{{item.blogType}}"
                            [queryParams]="{tagId: item.id}">{{item.tagName}}</li>
                    </ul>
                </div>
            </li>
            <li class="blog-block">
                <h5>站点信息</h5>
                <div>
                    <ul class="list-unstyled" *ngIf="infos.webInfo">
                        <li>站点名称：{{infos.webInfo.webName}}</li>
                        <li>建站时间：{{infos.webInfo.buildDate}}</li>
                        <li>站点版本：{{infos.webInfo.version}}</li>
                    </ul>
                </div>
            </li>
            <li class="blog-block">
                <h5>个人名片</h5>
                <div>
                    <ul class="list-unstyled">
                        <li *ngFor="let item of infos.personalCard">{{item.label}}</li>
                        <!-- <li><img src="assets/minewx.png"></li> -->
                    </ul>
                </div>
            </li>
            <li class="blog-block">
                <h5>友情链接</h5>
                <div>
                    <ul class="list-unstyled">
                        <li *ngFor="let item of infos.friendlyLinks"><a href="{{item.link}}">{{item.title}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>